body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: var(--vh);
}

#chart-plotly {
  margin: 2rem;
  flex: 1;
}

h1 {
  padding: 0.3em;
  margin: 0;
  color: white;
  font-weight: 400;
}
h2 {
  padding: 0.3em;
  margin: 0;
  color: white;
  font-weight: 200;
}

#title-container {
  border-bottom: 1px solid black;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}
#title-container[networkUp="true"] {
  background-color: rgb(44, 160, 44);
}

#title-container[networkUp="false"] {
  background-color: red;
}

.stat {
  font-weight: 300;
  font-size: 1em;
  color: white;
  padding-bottom: 0.5em;
}

#update-status {
  /* display: flex; */
  text-align: center;
  padding: 0.1em;
  margin: 0;
  /* min-height: 3rem; */
}

.update-text {
  padding: 0.1em;
}

footer {
}
